
.EventForm {
  margin: auto;
  width: 25%;
}

.CreateEventHeader {
  margin: auto;
  width: 30%;
}

.JoinEventHeader {
  margin: auto;
  width: 28%;
}

.EventFormField {
  width: 200px;
}
.nav-bar {
  background-color: #FFAB3D;
  background-image: linear-gradient(to bottom,rgba(233, 105, 1, 0.96) 0,#FFDC9A 100%) !important; 
  color: #851203; 
}

.navbar,
.navbar-default {
  background-image: linear-gradient(to bottom,#EB8962 0,#8C1927 100%) !important;
  color: #FFD364 !important;
}

.navbar-inverse .navbar-brand {
  font-weight: bolder;
  color: #FFBE9A
}
.navbar-inverse .navbar-nav>li>a {
  font-weight: bolder;
  color: #FFBE9A;
}
a {
  font-weight: bolder;
  color: #FFAB3D;
}
h1 small {

  color: #851203;
}
h1 {
  font-weight: bolder;
  padding-top: 10px;
  font-family: 'Syncopate', sans-serif;
  letter-spacing: 0.5em;
}
body{

  font-family: 'Inconsolata', monospace;
}
